[2021-02-06 18:34] matnoublanche opened #1 "Error: Cannot find module '/usr/lib/node_modules/homebridge-airzone-cloud/dist/index.js'"
**Describe The Bug:**

I have Error: Cannot find module '/usr/lib/node_modules/homebridge-airzone-cloud/dist/index.js' when I start Homebridge

I tried to mv from src folder to dist folder when I see that dist folder isn't exists but the problem still persists.

**To Reproduce:**

git clone https://github.com/fjhorrillo/homebridge-airzone-cloud.git
npm install -g homebridge-airzone-cloud

Restart

[2021-02-06 21:48] fjhorrillo commented on #1
Hello, this is because I had not published it in npm. If you want to install it manually, try this:
[code]
I have just published this so now you can install it from homebridge UI or manually by:
[code]

[2021-02-06 21:48] #1 closed

[2021-02-07 10:37] matnoublanche opened #2 "UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'humidity' of undefined"
**Describe The Bug:**
Hi (again :) ),

When we start the homebrige daemon with the plugin activated, I have UnhandledPromiseRejectionWarning.

Do you know why ?

Below the log file.

Thank you !

**Logs:**

[code]

**Environment:**

* **Plugin Version**: 0.01
* **Homebridge Version**: v4.38.0
* **Node.js Version**: v12.20.1
* **NPM Version**: v6.14.10
* **Operating System**: Linux Jeedom 4.9.0-9-a

[2021-02-07 11:00] matnoublanche commented on #2
I respond to myself, to resolve this bug you have to change line 74 of file AirzoneCloud/Zone.ts to :

return parseFloat(this._data.humidity);

[2021-02-07 11:00] #2 closed

[2021-02-07 14:11] fjhorrillo commented on #2
I fixed it in version 0.0.2

[2021-02-27 10:29] matnoublanche opened #3 "Can't get updated temperature of zone when it's set to off"
Hello,

I don't know if it's the expected behavior but when I set a zone to off position, temperature and humidity can't update.

On the Airzone app temperature are always up-to-date.

Mathieu.

[2021-02-28 09:17] fjhorrillo commented on #3
Hello, I will check, but you are right, the expected behaviour is to show the current temperature and humidity.

[2021-03-07 08:41] fredtchal opened #4 "Temperature, humidity, new set from local devise refreshment"
**Describe Your Problem:**

Hello, it seems that the current (real) temperature and humidity and a new temperature set point when settled from local remote) are not refreshed on HomeKit

I Have no problem to make automation through HomeKit and the on off and set point are correctly responding

see the log warning
**Logs:**

[code]
![EBD61B9D-4648-4025-A139-12E0C4D9BA1A](https://user-images.githubu

[2021-03-07 19:56] fjhorrillo commented on #4
Hello, this looks that something from your system is different from what I expected in the plugin. Could you provide some more info, first of all the full log with -D option to go a bit deeper over your system.

[2021-03-07 20:58] fredtchal commented on #4
Hello thanks for the answer...
I have 4 rooms:1master +3 slaves
Main system is toshiba and split system is air-zone

I put log files in -D mode since restart of home bridge

Regards Frederic

[homebridge.log 2.txt](https://github.com/fjhorrillo/homebridge-airzone-cloud/files/6097938/homebridge.log.2.txt)

[2021-03-23 12:24] jmartinezs77 commented on #4
Hi fjhorrillo,
Same issue here. Some more info:

- Plug in version: v0.0.2
- Sistema Operativo | Alpine Linux (3.12.4)
- Versión de Node.js: v14.16.0
- Versión de npm: v6.14.11
- Homebridge version: 1.3.4

Homebridge is running on a docker (image used: https://github.com/oznu/docker-homebridge) within a Synology NAS.

I am also having the issue of temperatures not refreshing if zones that are turn

[2021-04-03 16:47] #3 closed

[2021-04-03 16:47] fjhorrillo commented on #3
Fixed in version 0.1.1

[2021-04-03 16:47] fjhorrillo commented on #4
Fixed in version 0.1.1

[2021-04-03 16:47] #4 closed

[2021-04-03 17:28] jmartinezs77 opened #5 "Execution problem with 0.1.1 version"
**Describe The Bug:**

**To Reproduce:**

**Expected behavior:**

**Logs:**

Please find log in the image attached

Show the Homebridge logs here, remove any sensitive information.
[code]

**Screenshots:**

**Environment:**

* **Plugin Version**: 0.1.1
* **Homebridge Version**:
* **Node.js Version**:
* **NPM Version**:
* **Operating System**:

[2021-04-03 17:46] fjhorrillo commented on #5
Hello! Could you provide some info about the problem?

[2021-04-03 17:57] jmartinezs77 commented on #5
Everything was working and I saw an available upgrade of you plug-in, I executed it and on relaunch everything zone dissapeared. I searched the logs and I found some issues. I send you more detail.
I have tried to go back to version 0.1.0 and the issue remains the same. Not clear what is happening.
please tell me if you need something more specific.
Here is de log:
[4/3/2021, 7:11:42 PM] [Homebrid

[2021-04-03 18:16] fjhorrillo commented on #5
Hello, the error is related to the new way to manage logs, it was added in 0.1.0.
Could you remove the plugin, and add it again, its look like some dependency from homebridge are missing

[2021-04-03 18:32] jmartinezs77 commented on #5
I have already tried reinstalling version 0.1.0 and 0.1.1 and the problem persist. Maybe an older version?

[2021-04-03 18:37] fjhorrillo commented on #5
Yes, the version you probably have before was 0.0.2

[2021-04-03 20:16] fjhorrillo commented on #5
Fixed in version 0.1.2

[2021-04-03 22:45] jmartinezs77 commented on #5
Hi,
0.1.2 doesn’t fix the bug. It still generates the same issues.
I tried various things:
- updating from 0.1.1
- Uninstalling and installing 0.1.2
- Uninstalling, installing 0.0.2 and updating to 0.1.2
None of them worked.
Finally I installed 0.0.2 and this version installed and launched without issues.
Thank you!!

[2021-04-03 23:17] fjhorrillo commented on #5
Hi! Could you share the error with this version, and also your configuration for the plugin? If you don’t use the debug option with this version should be work

[2021-04-04 07:30] jmartinezs77 commented on #5
Goof morning,

here is the log and I attach some screen captures with configuration of hombridge and of the plug-in.

thanks

[4/4/2021, 9:19:37 AM] [Homebridge UI] Changes to config.json saved.
[4/4/2021, 9:19:40 AM] [Homebridge UI] Homebridge restart request received
[4/4/2021, 9:19:40 AM] [Homebridge UI] UI / Bridge settings have not changed; only restarting Homebridge process
[4/4/2021, 9:19:4

[2021-04-04 18:59] fjhorrillo commented on #5
Fixed in version 0.1.3

[2021-04-04 18:59] #5 closed

[2021-04-04 19:06] jmartinezs77 commented on #5
Just updated to 0.1.3 and everything up & running smoothly.
Many thanks!

[2021-04-21 13:59] Pascal26120 opened #6 "config.json"
Hi,
Do you have a config.json sample  for this plugins ?
Regards

[2021-04-21 18:25] fjhorrillo commented on #6
Hello, why do you need it? If you use homebridge-ui it made it for you

[2021-05-23 12:24] fjhorrillo commented on #6
config.json: {"name":"AirzoneCloud","system":"https://www.airzonecloud.com","login":{"email":"mail@domain.com","password":"********************"},"debug":false,"user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0.2 Safari/605.1.15","platform":"AirzoneCloud"}

[2021-05-23 12:24] #6 closed

[2021-05-23 12:29] fjhorrillo opened #7 "Error with cool mode in DKN"
**Describe The Bug:**
Node server stops working

**To Reproduce:**
Change state to cold

**Expected behavior:**
Node server keeps running and DKN switches to cold mode

**Logs:**
[15/05/2021, 22:43:00] [Aire Acondicionado] Daikin PB: Set Characteristic TargetHeatingCoolingState -> none
[15/05/2021, 22:43:01] [Aire Acondicionado] mode name "cold" not found
[15/05/2021, 22:43:01] [Aire Acondicionado

[2021-05-23 13:01] fjhorrillo commented on #7
Fixed in version 0.1.4

[2021-05-23 13:01] #7 closed

[2021-07-06 12:49] vemeo opened #8 "Temperature at OFF instead of system at STOP"
I think there is an improvement to be made when we turn off all the zones.
Currently when we turn off the last zone with Homekit it switches the whole system to STOP. I think it would make more sense to just turn off the zone (as with the previous zones) and leave the system on its current state.
I think this would be easier and more flexible.
Advantage this would allow more flexibility between Ho

[2021-07-06 13:58] fjhorrillo commented on #8
Hello Stephen,

Thanks for your advice. I thought about this approach but the problem is that a [thermostat](https://developers.homebridge.io/#/service/Thermostat) has system mode and temperature but not on/off is for this reason that I chose the way to do it with the all zones mode.

Additionally, if I split it, a thermostat for each device and one for each zone I need a service with on/off and t

[2021-07-06 15:04] vemeo commented on #8
Hi,

Thank you for your quick reply.
I am not sure I understand everything (I am not a specialist :-) )
However I noticed that there was a difference in treatment if we have several active zones or only one when we turn off the zone.

I give you an example.

Let's imagine that I have 2 zones ON (for example living room and bedroom). If I turn OFF the bedroom zone from Homekit => The physical therm

[2021-07-13 15:47] javierinho2000 opened #9 "AirzoneCloud and DKN in parallel"
**It would be great to have either one bridge for both system modes or two bridges in parallel**

In my home setup, 3 AC units run on DKN and one newer one on AirzoneCloud. Would it be possible to allow for both types of units so be exposed to Homekit? Maybe the plugin should be split in two?

[2021-07-13 18:34] fjhorrillo commented on #9
Hello, I didn’t think about have more than one system. When I implemented support for DKN I evaluated this option (split in two) but is more difficult to maintain.
I will check about to have multisystem config.

[2021-07-13 21:47] javierinho2000 commented on #9
That's fantastic! I'll be glad to beta test if you have trouble testing the multi system option.

By the way, my 3 legacy units run on DKN Cloud:
![image](https://user-images.githubusercontent.com/24523661/125529052-3a783261-2ccb-4f1c-9817-07e4d43b0c6a.jpeg)
(This app:)
![image](https://user-images.githubusercontent.com/24523661/125529089-97335754-91ee-4b70-8697-714d184f882f.png)

I successfully s

[2021-07-13 22:04] javierinho2000 commented on #9
I just found [API reference for DKN Airzone app](https://backend.daikincomfort.com/docs/default-source/product-documents/residential/manuals/othermanual/im-dknapi.pdf). It seems it's a different protocol so you're plug-in most probably doesn't support it yet...

[2021-07-13 22:09] fjhorrillo commented on #9
Hello Javier,

First of all, I will be glad if you join to our discord server to help with the testing of this new feature, I only have an Airzone System. For DKN I had the help o a member of our small community.

Finally, regarding to the new API I’m waiting for @fonsos help as contact with Airzone company.

[2021-07-14 07:46] javierinho2000 commented on #9
Sure, glad to join you in Discord. Can you please share the group or server details?

[2021-07-23 21:22] jmartinezs77 opened #10 "New version of airzone cloud breaks the plug-in"
**Describe The Bug:**
airzone is not logging in correctly. A new version of the mobile app has been released and it seems the api has changed.

**To Reproduce:**
Log in to the new app. Restart homebridge and the log in error appears in the log.

**Expected behavior:**
A correct log in in airzone cloud

**Logs:**

[code]

**Plugin Config:**

[code]

**Screenshots:**

**Environment:**

* **Plugin Ve

[2021-07-24 06:16] fjhorrillo commented on #10
Hello, I’m working on it, but they change the whole api 😓

[2021-07-24 09:49] jmartinezs77 commented on #10
It is not going to be quick. Take it easy.
The new url is m.airzonecloud.com, but as you say, api has changed. Changing the url in the settings of the plug-in is not enough.

[2021-07-24 10:01] fjhorrillo commented on #10
Yes, now the authenticator is oauth2 and the rest of the api implement the standards and become a bit different

[2021-07-24 15:27] Pascal26120 commented on #10
Hi
I have the same issue.

[2021-08-10 14:40] matnoublanche commented on #10
Hi there,

I don't know if that can help but do you know that you can access to the local API of the AirZone WebServer ?

Here is the doc : https://doc.airzone.es/producto/Gama_AZ6/Airzone/Comunes/Manuales/MI_AZ6_WSCLAPI_A4_FR.pdf

I think that il will be more efficient to directly talk with the local API.

Mathieu

[2021-08-10 15:00] matnoublanche opened #11 "Homebridge does not start since 0.1.3"
**Describe The Bug:**
Hi there,

Since 0.1.3 I have this error below.

Do you know why ?

**Logs:**

[code]

**Environment:**

* **Plugin Version**: 0.1.3
* **Homebridge Version**: 1.3.4
* **Node.js Version**: v14.17.4
* **NPM Version**: v6.14.14
* **Operating System**: Linux Jeedom 4.9.0-9-amd64

[2021-08-10 15:09] fjhorrillo commented on #11
Hello, this is because the airzone api was changed. I’m working to implement the new api

[2021-08-10 15:11] fjhorrillo commented on #10
Hi, local api is only available on wire webserver or new versions of wifi, and to have full compatibility is why I use cloud api

[2021-08-10 15:13] matnoublanche commented on #11
Hi @fjhorrillo,

No, when I downgrade to 0.1.2 it works again.

I'm still using the old app which the old API.

Since 0.1.3 you changed the log way and it seems like Homebridge does not like it at starting.

[2021-08-10 15:16] matnoublanche commented on #10
Understood. Will be very great that we can use local API as an option.

[2021-08-11 09:48] matnoublanche commented on #10
Hi @fjhorrillo,

Do you need some help to implement new API ?

I can help if needed.

Mathieu

[2021-08-22 10:44] fjhorrillo commented on #10
Hello @matnoublanche,

Base on the analysis on the new web I have gotten some information.

Login is with oauth but it is easy:
POST https://m.airzonecloud.com/api/v1/auth/login
{ "email": "{{email}}", "password": "{{password}}" }
From the response get token

Get Installations:
GET https://m.airzonecloud.com/api/v1/installations
HEADER authorization=Bearer {{token}}
From the response get installat

[2021-08-22 10:47] fjhorrillo commented on #11
Hello @matnoublanche, maybe it is related to the api upgrade, the 0.1.2 is still working?

[2021-08-23 07:20] linkweaver commented on #11
Hi @fjhorrillo,

In fact the problem was on the NPM logger module.

It was not installed by default and it's not on the dependencies of the package.json file.

I think I can install it manually but I think that it's better to declare it on the dependencies of the module.

Do you know if other encounters the same problem as me ?

[2021-08-23 07:25] linkweaver commented on #10
Hi again,

I also follow another issue that you replied on

https://github.com/max13fr/AirzoneCloud/issues/7

You find all this by reverse engineering or someone finally respond on the Airzone team ?

[2021-08-23 07:34] matnoublanche commented on #10
Hi again,

I also follow another issue that you replied on

max13fr/AirzoneCloud#7

You find all this by reverse engineering or someone finally respond on the Airzone team ?

[2021-08-23 07:35] matnoublanche commented on #11
Hi @fjhorrillo,

In fact the problem was on the NPM logger module.

It was not installed by default and it's not on the dependencies of the package.json file.

I think I can install it manually but I think that it's better to declare it on the dependencies of the module.

Do you know if other encounters the same problem as me ?

[2021-08-23 07:45] fjhorrillo commented on #11
Hi, with version 0.1.3 I had this problem but in the end I went back to using the standard log by adding a new class to print debug logs as information if the plugin debug option is on.  This was added in version 0.1.4.
What dependency do you want to add?

[2021-08-23 07:47] fjhorrillo commented on #10
Hi, I’ve finally started using reverse engineering.

[2021-08-23 10:57] linkweaver commented on #11
Ok I think that you still using Logger on the 0.1.4 version, so no need to install this as dependency.

I think I found the origin of the error.

On the src/interface/config.ts file, lines 23 and 27 you have to prefix your lines with _this_

this.platform.log.error

[2021-08-23 10:58] matnoublanche commented on #11
Ok I think that you still using Logger on the 0.1.4 version, so no need to install this as dependency.

I think I found the origin of the error.

On the src/interface/config.ts file, lines 23 and 27 you have to prefix your lines with _this_

`this.platform.log.error`

[2021-08-23 20:13] fjhorrillo commented on #11
Hi, I found the problem, it was due to the log isn`t initialized yet. Fixed in version 0.1.5

[2021-08-23 20:13] #11 closed

[2021-08-23 21:14] Pascal26120 commented on #10
Same issue with new version 0.1.5

[2021-08-23 23:23] fjhorrillo commented on #10
Yes, this update was only a bug fixing for users with old api, I’m working on 0.2.0 for new api.

[2021-08-24 14:30] fogoner opened #12 "¿Funciona con aidoo?"
**Describe Your Problem:**

**Logs:**

[code]

**Plugin Config:**

[code]

**Screenshots:**

**Environment:**

* **Plugin Version**:
* **Homebridge Version**:
* **Node.js Version**:
* **NPM Version**:
* **Operating System**:

[2021-08-24 19:35] fjhorrillo commented on #12
Hola,

Si con el Aidoo puedes gestionarlo desde www.airzonecloud.com si debería funcionar o podría adaptar lo que fuera necesario para soportarlo, aunque necesitaría poder hacer algunas pruebas con tu ayuda, si quieres puedes pasa por discord y lo comentamos.

Un saludo.

[2021-08-24 21:47] fogoner commented on #12
Buenas
Me encantaría ayudarte en las pruebas que necesites, dime en que horarios e intentaré conectarme.
No uso mucho Discord pero mi usuario es ixus#8991

 Un saludo

[2021-08-24 23:36] fjhorrillo commented on #12
Usa este enlace para unirte al servidor https://discord.gg/F7pQJEpaHH

[2021-08-24 23:36] #12 closed

[2021-08-25 10:09] jmellad opened #13 "homebridge airzone cloud not working since new airzone app released"
**Describe The Bug:**
Hi there,
since airzone launched the new version of the app it gives me this error when initializing homebridge.

Unable to login to AirzoneCloud. Request: {"url":"https://www.airzonecloud.com/users/sign_in","method":"POST","mode":"cors","headers":{"Content-Type":"application/json;charset=utf-8","User-Agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/605.1.1

[2021-08-25 10:14] jmellad commented on #10
Same issue with new version 0.1.5
Thanks for the effort to update the plugin.

[2021-08-25 11:35] BLRPERES commented on #13
New url since Airzone updated their servers

this plugin needs to be rewrited to match the new api (as far as I know nobody has this new api)

[2021-08-25 13:47] fjhorrillo commented on #13
Hello @jmellad, I’m working on it for next version, please follow it over bug #10

[2021-08-25 13:47] #13 closed

[2021-09-19 11:35] fxpa commented on #10
Hello
Any update on the issue ?

[2021-09-19 13:08] fjhorrillo commented on #10
Hi! It’s on the oven!

[2021-09-19 17:04] fjhorrillo commented on #10
Published v0.2.0

[2021-09-19 17:04] #10 closed

[2021-09-19 17:14] fjhorrillo commented on #8
Hello @vemeo,

I tried to add a device for the system and on it control the mode and use the current for the zone but HomeKit doesn't have the way to implement a thermostat only with on/off.

If you want, I could add an option in the config to disable the switch off automatically when all zones are off, and with this, the user could choose if use it or not.

Regards.

[2021-09-19 17:16] fjhorrillo commented on #9
Hello, I publish v0.2.0 with compatibility with the new API, also this version adds thermostats for all zones in all installations for one connection.

[2021-09-19 17:40] Albertopez commented on #10
I'm testing the new version, but it's still unable to connect to the new API, any updates on this?

If you want I could help with the reverse engineering

[2021-09-19 17:40] fxpa commented on #10
I've reinstall and it works

[2021-09-19 17:47] Albertopez commented on #10
that's the key. I was just upgrading to the new version, once you reinstall it, it lets you to set it to the new Airzone API.

Big thanks for the effort! 👏🏻

[2021-09-19 17:50] jmartinezs77 commented on #10
It works!! Great job!
it’s better to reinstall. You choose “new airzone cloud” on the plug in adjustments and goes straight forward.

just got an issue when I try to change a room’s temperature, so I will open a new issue, but it is great to have this plug in working again.

[2021-09-19 17:57] jmartinezs77 opened #14 "New airzone cloud interface. Temperature changing bug"
**Describe The Bug:**
Temperature can’t be modified. When a room is on and try to change temperature, it doesn’t work and an error appears in log. Version 0.2.0 of the plug-in. Using new airzone cloud interface.

**To Reproduce:**
Open a room with airzone on and try to change temperature

**Expected behavior:**
Temperature changes to value provided in home app on iOS.

**Logs:**

[code]

**Plugin

[2021-09-20 07:35] vemeo commented on #8
Hi @fjhorrillo,

That would be great ! Thanks for taking my comment into account.

Regards

[2021-10-02 15:38] gtgGitHub commented on #14
Hi I have installed the new version and I have selected: "New Airzone Cloud" and after reboot everything gone well, it logged in successfully and Websocket Connected, but not Airzone devices on the accessories tab and therefore not device to add to HomeKit.

The Airzone device is Aidoo Wi-Fi for DAIKIN SKY AIR/VRY

Any idea why is not working?

Thanks in advance

[2021-10-02 16:49] fjhorrillo commented on #14
Hello @gtgGitHub, at this moment the plugin only admits Airzone or DKN, I am working on Aidoo's support

[2021-11-22 03:15] PhilM-IT opened #15 "Confirmation on DKN Cloud NA support?"
**Describe Your Problem:**
I use the "DKN Cloud NA" app which relates to a different URL (dkncloudna.com) than all other solutions that use these adapters. In the app I can control my unit which seems to be powered by the same "airzone" system this plugin supports. None of the existing "system" options appear to work and manually changing the config to the previous mentioned URL doesn't work eithe

[2022-01-02 12:35] vemeo opened #16 "Some rooms are always on"
Some rooms are always on

Hello,

I am reporting a bug that I have encountered several times and that makes it difficult to control the AirZone system with Homekit. Indeed I found that there could be a discrepancy between what Homekit says and the reality of the AirZone system. Indeed, some parts of my system remain permanently on "On" on Homekit when they are actually off. If you try to turn them

[2022-01-04 18:01] fjhorrillo commented on #15
Hi @PhilM-IT,

This looks like an Aidoo system, I'm planning to adapt to it, but I don't know how it will be done. I'll work on it as soon as I have time.

Regards.

[2022-01-04 18:04] fjhorrillo commented on #16
Hello @vemeo,

Could you put the plugin in debug mode (from the config of the module) and share with me the logs for when you are switching on the device.

Regards,
Javier

[2022-01-04 18:43] BLRPERES commented on #16
If needed I have access to a Aidoo system to test your plugin

[2022-01-04 19:40] PhilM-IT commented on #15
Thanks for confirming. Happy to test it out once you get around to adjusting the plugin.

[2022-01-05 12:51] vemeo commented on #16
Hi @fjhorrillo ,

Thank you for your answer.
I was not able to reproduce the exact same behavior but now I have the opposite happening. When I turn on a zone it turns on well but then it is marked as off in homekit (see video)

https://drive.google.com/file/d/1rEBsZBm37sWzgW-dkPkXwbWTAoxOsysZ/view?usp=drivesdk

Here are the logs I get after doing the video manipulation (I cut the different token a

[2022-01-11 21:32] morph208 opened #17 "Temperature reading stops working after a while"
First of all, thank you for this plugin. Great work.

**Describe The Bug:**
I have installed the plugin a couple of days ago and I noticed a few inconsistencies so I will try to explain them. First of all, I realized that the temperatures measured by my thermostats are not reflected in Apple’s Home app. Setting the temperature from there works, but the current temperatures are the ones when I star

[2022-01-14 11:00] morph208 commented on #17
I have enabled debug mode to see if I had more information. Here what I have at the first “red disconnection” occurrence:

[code]

[2022-01-20 19:20] fjhorrillo commented on #16
Hello, please check it on v0.2.2

[2022-01-20 19:20] fjhorrillo commented on #17
Hello, please check it on v0.2.2

[2022-01-22 06:50] morph208 commented on #17
Hello. I have upgraded. It works! Awesome. Thank you for your reactivity.

In the native HomeKit app all temperatures are rounded to 0.5 (probably not your fault) but in 3rd-party apps the accurate temperatures are visible and are updated. So your fix did the job. Thank you.

[2022-01-22 08:10] fjhorrillo commented on #17
Thanks for the update and yes homekit requires round temperatures.

[2022-01-22 08:10] #17 closed

[2022-02-04 17:24] lavoiesl commented on #15
I'm also interested in support for NA. You can find the documentation at https://backend.daikincomfort.com/docs/default-source/product-documents/residential/manuals/othermanual/im-dknapi.pdf

I can also help with the coding

[2022-02-13 15:28] jalacain opened #18 "Plugin load OK but accessories AIRZONE do not appear in HomeKit or HomeBridge Accessories"
Good afternoon. I've been with this for several days and I can't figure out what's going on.

The plugin load is correct, without errors, the plugin communicates with m.airzonecloud.com and receives all the information of my user and device.

The problem is that then no new device appears in Homekit or HomeBridge Accessories.

I have removed the plugin and reinstalled, and everything is the same.

[2022-02-13 16:41] BLRPERES commented on #18
Aidoo devices are not supported yet

[2022-02-16 17:44] BertoTavira commented on #18
Same happened to me and all went ok as soon I set it as a child bridge

[2022-02-19 23:38] jalacain commented on #18
Thank BertoTavira, I have tried what you mention (child bridge) but still nothing appears in my homekit. I have added the new bridge in homekit, but ...Everything remains the same :(

![image](https://user-images.githubusercontent.com/98624865/154822662-c85a4a1b-ad60-4fb9-bf81-7e3ae3a17d02.png)

[2022-02-20 08:45] fjhorrillo commented on #18
Hello @jalacain, @BertoTavira, as @BLRPERES mentioned, Aidoo devices aren’t supported yet, as soon as I have time I will include it.
Thanks for your collaboration

[2022-02-20 08:47] #16 closed

[2022-02-21 20:38] jalacain commented on #18
Ok FjHorrillo, great job. I don't know if it's a big effort to adapt Aidoo device, but congratulations, great job. We eagerly await an update to enable Aidoo devices.

Thx

[2022-03-31 19:44] davidgpra opened #19 "When Aidoo devices will be supported"
Hello,

I tried the plugin and it works perfect! It's spectacular! But I've seen that Aidoo devices don't work yet. When is it scheduled?

[2022-03-31 21:40] #18 closed

[2022-03-31 21:40] fjhorrillo commented on #19
Added support for Aidoo in version 0.3.0

[2022-03-31 21:40] #19 closed

[2022-03-31 21:42] fjhorrillo commented on #14
Added support for Aidoo in version 0.3.0

[2022-03-31 21:42] #14 closed

[2022-04-01 12:18] PhilM-IT commented on #15
Not sure if anyone else has tried but I'm unable to get the new Aidoo setup working... the error is also causing homebridge to go into a restart loop and never do online unless I disable the plugin. I'm using the same username and password that works via my iOS app.

[4/1/2022, 8:16:55 AM] [AirzoneCloud] Error calling to AirzoneCloud. Status: 400 Bad Request  Response: {"_id":"userNotExist","msg":

[2022-04-02 16:37] fjhorrillo commented on #15
Hello @PhilM-IT, what I added is the support via https://m.airzonecloud.com which the plugin use if you chose "New AirzoneCloud".
Your error is regarding this, your user doesn't have access to https://m.airzonecloud.com and I didn't implement it.

I will check the documentation that you provide to check how implement support for it.

[2022-04-02 18:01] fjhorrillo commented on #15
Fixed the error handling problem that caused the reboot loop in v0.3.1

[2022-04-03 15:29] marco-hue opened #20 "i have this error"
This plugin threw an error from the characteristic 'Target Temperature': Unhandled error thrown inside read handler for characteristic: Cannot read properties of undefined (reading 'celsius'). See https://git.io/JtMGR for more info.

[2022-04-03 15:49] fjhorrillo commented on #20
Hello @marco-hue, could you attach the logs with debugging enabled to show what is happened.

[2022-04-03 16:01] marco-hue commented on #20
[4/3/2022, 5:59:35 PM] [AirzoneCloud] Zona giorno: Status -> {"machineready":true,"errors":[],"timer":{"value":0,"count":0,"action":{}},"timer_values":[0,30,60,90],"manufacturer":{"_id":8,"text":"Daikin Sky Air / VRV"},"power":false,"active":false,"mode":2,"mode_available":[1,2,3,4,5],"speed_values":[0,2,4,6],"speed_type":0,"speed_conf":2,"range_sp_cool_air_max":{"celsius":32,"fah":90},"range_sp_c

[2022-04-04 08:02] marco-hue commented on #20
is it solvable?

[2022-04-04 13:01] PhilM-IT commented on #15
Thanks for the confirmation. It seemed like maybe what you did add support for is a different option/service than what we're using.

0.3.1 does seem to fix the crashing loop FYI.

[2022-04-08 02:40] AG7GN commented on #15
Thanks very much for this plugin!

I am interested in seeing DKN Cloud NA supported as well. I'm seeing the same behavior as @PhilM-IT in version 0.3.1. I'm happy to test as well.

[2022-04-10 09:16] marco-hue commented on #20
C'è un errore nella lettura della temperatura quando vado ad usare i C celsius anziché i F fahrenheit.
Celsius resta in aggiorno

fahrenheit va in non raggiungibile

[2022-04-11 14:51] jalacain commented on #18
Thank you very much, but after updating everything is still the same, that is, I am not able to load any new device in my home. I have configured an exclusive child bridge for Airzone, but after adding the bridge it does not add any new devices to me.

I am doing something wrong? I need something else to do? In the documentation I don't see anything about it, and in the trace everything appears co

[2022-04-11 15:29] jalacain opened #21 "Aidoo: This plugin threw an error from the characteristic 'Current Temperature'"
Thank you so much for keeping this plugin alive, great job!!

After updating to 0.3.1 my new device appears in my home, but I have this error in homebridge and it doesn't work:

[4/11/2022, 5:10:17 PM] [homebridge-airzone-cloud] This plugin threw an error from the characteristic 'Current Temperature': Unhandled error thrown inside read handler for characteristic: Cannot read properties of undefine

[2022-04-11 15:42] jalacain commented on #21
I have tried to put it in ºF but the error is the same, and looking in the log I do not see the value "Target Temperature" anywhere:

<a href="https://ibb.co/ZT3gkWh"><img src="https://i.ibb.co/4NcS5Pj/condensador12.jpg" alt="condensador12" border="0"></a>

[2022-04-17 21:22] jalacain commented on #21
I have already solved!! I didn't have the temperature sensor on the remote activated. I followed these steps in case it can help someone:

1. Follow these instructions to activate the sensor on the remote: https://www.youtube.com/watch?v=ECon_EY25vc

2. Restart HomeBridge.

And everything works fine now!

[2022-04-17 21:57] fjhorrillo commented on #21
Hello @jalacain, as I could see the problem is that I assume is that the temperature is always read, I could fix it by returning 0° If the plug-in can’t read it

[2022-04-18 11:37] jalacain commented on #21
That would be perfect! I'll be happy to update when you've uploaded it.

[2022-04-23 16:20] vmiraboronat commented on #21
Hello guys. I’ve just installed the plug-in for an Aidoo for Daikin duct air conditioning and I’m having the same issue. When I turn it off from the Home app, the plug-in throws that error in Homebridge and it is set to unresponsive until I turn it on again from the Airzone App (or manually in the wall thermostat).
I’m also happy to provide logs and test anything needed.
Cheers!

[2022-06-08 18:28] dimovic69 opened #22 "no actualiza modo / target temp."
Hola,

Tengo el plugin funcionando correctamente contra mi cuenta DKN Cloud. Pero tengo una duda:
Desde la app Casa pueda dar ordenes al sistema Daikin (cambiar modo frio/calor y poner target temperature) pero sin embargo la app Casa no actualiza la información si es cambiada desde la app DKN o desde el propio control de Daikin. Es decir, parece que el comportamiento es siempre unidireccional (Hom

[2022-06-08 18:34] fjhorrillo commented on #22
Hola, en principio si se debe actualizar, diría que el problema es que en el caso de tu instalación, la información que se obtiene no tiene el mismo formato que con la que hice las pruebas.
Por favor envíame por aquí o por discord las trazas poniendo el modo debug para así poder ver la información que recibe el plug-in cuando. Haces el cambio desde otro sitio.

[2022-06-08 20:07] dimovic69 commented on #22
Hola,

Activo modo Debug en el plugin, reinicio, pero no aparece realmente más detalle de registro (tengo que hacer algo mas?)
No tengo claro si actualiza la info con algún evento (peticion de la app Casa) o periodicamente. Lo cierto es que a veces la actualiza pero generalmente no.
Siempre reinicio homebridge sí que toma la info actualizada (lo veo en el log).
Por otra parte, a la app Casa tb le

[2022-06-08 20:24] fjhorrillo commented on #22
Hola, necesitaría saber si está conectando el wevsockets que es por donde llegan los eventos que genera otro dispositivo, esto debería salir si pone el de uf del plug-in, no el de homebridge.

[2022-06-08 20:31] dimovic69 commented on #22
Como he comentado, activo modo Debug en el Plugin (opcion dentro de Advanced en la config del plugin), reinicio y aparecen más detalles en el log:

[08/06/2022, 22:27:53] [Aire Acondicionado] Aire Acondicionado: Get Characteristic TemperatureDisplayUnits -> 0 (ºC)
[08/06/2022, 22:27:54] [Aire Acondicionado] Aire Acondicionado: Get Characteristic TargetHeatingCoolingState -> 0 ([1]cool: Cooling mod

[2022-06-08 20:36] fjhorrillo commented on #22
Ok, estás usando DKN y no AirzoneCloud, por lo que supongo tu api sigue siendo la antigua y no soporta la conexión por websocket.
En ese caso como está implementado es que cada vez que abres la aplicación casa o accedes dentro a un termostato está le pide al plug-in los datos de ese momento, pero no hay una actualización de datos si la aplicación casa no lo solicita.

[2022-06-08 20:47] dimovic69 commented on #22
Entendido...
Lo que veo es que no siempre que abro Casa  o accedo al termostato se produce la actualización. No tengo claro si es  porque Casa no lo pide (quizas lo tiene cacheado o algo asi) o porque el plugin no lo procesa.
Se te ocurre como puedo monitorizar estos eventos?

Gracias

[2022-06-08 20:49] dimovic69 commented on #22
Incluso cuando ordeno desde casa cambio de temp o de modo no actualiza la info (la que fue actualizada desde otro control)

[2022-06-08 21:01] fjhorrillo commented on #22
Deberías ver en el log una traza con el get cada vez que la app casa le pide los datos (si está en debug)

[2022-06-09 14:27] jalacain commented on #21
Hola fjhorrillo. Podemos retomar este tema por favor? Gracias por tu ayuda!!

[2022-06-23 19:12] BertoTavira opened #23 "Controlar velocidad del ventilador"
Buenas :)

Estaría genial poder controlar la velocidad del ventilador del AC. Creo haber visto que con dispositivos tipo Tadoo o Aidoo se puede desde HK.

Habría alguna manera de implementarlo?

Gracias por el curro!

[2022-06-24 20:45] BertoTavira commented on #8
+1 to this :)

Would be nice that instead of making system to change to STOP mode, it keeps the last mode used, like it happens when using the physical  controller

[2022-07-02 12:43] Poufii opened #24 "security on switching mode"
greetings everyone,

i'm using this plugin since 8 months now, and it's almost perfect, thanks for working on this.
but sometimes, i'm accidentally switching the mode of one of my unit, and so it's screwing up all my system. let me explain :

in the home app, the modes are in this order : off, heat, cool.
when i'm on the "cool" mode, and i want an unit to turn off, i have to scroll up to "off", bu

[2022-07-15 04:40] CrazyDymond88 commented on #15
I would like to request this as well please and I'm also willing to help test.  With the default settings set to DKN I'm getting "Error calling to AirzoneCloud. Status: 404 Not Found.

[2022-10-15 13:31] sgeba opened #25 "°F gets extra conversion in Home"
I assume with the release of these in the US there is an issue with the use of °F instead of C. The temperature comes in to Home with all of the temperatures from the app converted again. Example - my AirzoneCloud is set for F and heat set to 68F. In the Home it treats the as a C temperature and converts it again to F resulting in showing 155F in Home.

I temporarily set my airzonecloud in C and r

[2022-10-15 17:41] fjhorrillo commented on #25
Hello @sgeba, could you send me the logs with the debug mode on in the plugin to check what is getting from your Airzone cloud, thanks in advance.

[2022-10-15 19:50] sgeba commented on #25
[homebridge-airzone.log.txt](https://github.com/fjhorrillo/homebridge-airzone-cloud/files/9792951/homebridge-airzone.log.txt)

don't know what data in here is sensitive if at all, I removed a few of the auth things, but the calls are all still there, let me know if you need something different.

[2022-10-20 10:52] kaz911 opened #26 "To many requests to fast error - API error"
**Describe The Bug:**

Log files show lots of errors very fast after eachother.
[20/10/2022, 09:32:29] [AirzoneCloud] Error calling to AirzoneCloud. Status: 429 Too Many Requests
[20/10/2022, 09:32:29] [AirzoneCloud] Error in getDeviceStatus. Error: API rate limit exceeded

**To Reproduce:**

just connected up the system to "New Airzone Cloud"
**Expected behavior:**

less requests per second?

**L

[2022-10-26 01:15] sundar2012 commented on #15
+1 on DKN NA support

[2022-10-26 14:30] PhilM-IT commented on #15
@CrazyDymond88 / @sundar2012 try https://github.com/plecong/homebridge-dkncloudna

It supports this, been using for a while now. Seems to work fine.

[2022-10-26 18:11] PhilM-IT commented on #15
I'm on iOS and only use dkn NA. From what I could tell the "airzone" branded app won't work with these units.

[2022-10-27 17:49] Coolant22 opened #27 "AirzoneCloud Homebridge Accessoir failed"
Hello , can you help me ,I have no accessories in the config of Homebridge. What can I do , thanks very much .

            },
            "debug": false,
            "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0.2 Safari/605.1.15",
            "platform": "AirzoneCloud"
        }
    ],
    "accessories": []

[AirzoneCloud] Ad

[2022-10-27 18:58] fjhorrillo commented on #27
Hello, it look like your Airzone device/zone doesn't have a name, I didn't think this could happen. How you see it on Airzone App?

[2022-10-27 19:08] Coolant22 commented on #27
Here is a Picture ![image](https://user-images.githubusercontent.com/116835567/198377441-ccb81f0e-a53d-4c28-b44a-fd95b056de02.jpeg) Thanks

[2022-10-27 19:23] fjhorrillo commented on #27
The name of the accessory should be "Zone 1", could you enable debug mode and share the response for the service /api/v1/installations/xxxxx? its look like:
`{
...
    "groups": [
        {
            "name": "Gruppe 1",
            "devices": [
                {
                    "device_id": "999f99f9f99f99999f9fff9e",
                    "meta": {
                        "system_number": 1

[2022-10-27 19:38] Coolant22 commented on #27
27/10/2022, 21:34:24] [AirzoneCloud] [Websocket] ⬆ ["clear_listeners"]
[27/10/2022, 21:34:24] [AirzoneCloud] Cleaned cached installationId and webserverId
[27/10/2022, 21:34:24] [AirzoneCloud] [Websocket] ⬇ [null]
[27/10/2022, 21:34:24] [AirzoneCloud] [Websocket] ⬆ ["listen_installation", "63592a63b5a0f796ee73ef6a"]
[27/10/2022, 21:34:24] [AirzoneCloud] [Websocket] ⬇ [null]
[27/10/2022, 21:34:24]

[2022-10-27 19:45] fjhorrillo commented on #27
I see that it is an Aidoo system and is a bit different. If it is easier for you, could you change the name without special characters, I mean change "Wärmepumpe" to "Warmepumpe"

[2022-10-27 19:58] Coolant22 commented on #27
its the same with warmepump[27/10/2022, 21:57:16] [AirzoneCloud] [Fetch] ⬇ Response: {"ws_type":"ws_aidoo","status":{"isConnected":true,"sshost":"skaidoo5.airzonecloud.com","ssport":"443","first_connection_date":"2022-10-26T12:36:53.451Z","pending_ws_schedules_update":false,"connection_date":"2022-10-26 21:53:25 +0200","link_process_active":null,"stat_rssi":-75,"stat_quality":1,"stat_channel":11,"

[2022-11-06 02:29] sgeba commented on #25
Was the attached data any help?

[2022-11-07 21:01] fjhorrillo commented on #25
Hello, I checked your logs and I could see that your Airzone provide data in both unit (C & F). I saw an error setting the temperature with F and the error is regarding a maximum in C.
I'm going to test it with my phone in F as I guest that it will be the problem.
Let me some time, I will be back with news a son as possible.

[2022-11-27 20:59] arcticwolf18 commented on #25
Hey there. Was just wondering if you had any input on this. Still an ongoing issue for me.